:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

app-cepc-dashboard-header {
  flex-shrink: 0;
}

app-cepc-dashboard-kpi {
  margin: 1rem 0;
  flex-shrink: 0;
}

app-cepc-dashboard-tabs {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  width: 100%;
}
