<div class="meta-row">
  <button class="back-arrow" (click)="back.emit()"><i class="pi pi-arrow-left"></i></button>
  <div class="meta-item">
    <span class="meta-icon complaint-number"><i class="pi pi-id-card"></i></span>
    <div class="meta-text">
      <span class="meta-label">Complaint Number <i class="pi pi-info-circle"></i></span>
      <span class="meta-value">{{ complaintNumber() }}</span>
    </div>
  </div>
  <div class="meta-item">
    <span class="meta-icon complainant-name"><i class="pi pi-user"></i></span>
    <div class="meta-text">
      <span class="meta-label">Complainant Name <i class="pi pi-info-circle"></i></span>
      <span class="meta-value">{{ complainantName() || 'Not Assigned' }}</span>
    </div>
  </div>
  <div class="meta-item">
    <span class="meta-icon entity-name"><i class="pi pi-building"></i></span>
    <div class="meta-text">
      <span class="meta-label">Entity Name <i class="pi pi-info-circle"></i></span>
      <span class="meta-value">{{ entityName() || 'Not Assigned' }}</span>
    </div>
  </div>
  <div class="meta-item">
    <span class="meta-icon status-icon"><i class="pi pi-chart-bar"></i></span>
    <div class="meta-text">
      <span class="meta-label">Status <i class="pi pi-info-circle"></i></span>
      <span class="meta-value"><span class="status-pill"  [attr.data-status]="status()" [ngClass]="statusClass()">{{status()}}</span></span>
    </div>
  </div>
  <div class="meta-item">
    <span class="meta-icon category-icon"><i class="pi pi-tag"></i></span>
    <div class="meta-text">
      <span class="meta-label">Complaint Category <i class="pi pi-info-circle"></i></span>
      <span class="meta-value">{{ category() || 'General Banking' }}</span>
    </div>
  </div>
  <div class="meta-item">
    <span class="meta-icon sla-icon"><i class="pi pi-clock"></i></span>
    <div class="meta-text">
      <span class="meta-label">SLA Breach In <i class="pi pi-info-circle"></i></span>
      <span class="meta-value"><span class="sla-badge" [class.breach]="slaBreach()">{{ sla() }} </span></span>
    </div>
  </div>
  <ng-content></ng-content>
</div>
