<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>${env.NEXUS_URL:-http://nexus.rbi-cms.svc.cluster.local:8081/repository/maven-public/}</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>nexus</id>
            <username>${env.NEXUS_USER:-admin}</username>
            <password>${env.NEXUS_PASSWORD:-admin123}</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>${env.NEXUS_USER:-admin}</username>
            <password>${env.NEXUS_PASSWORD:-admin123}</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>${env.NEXUS_USER:-admin}</username>
            <password>${env.NEXUS_PASSWORD:-admin123}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>${env.NEXUS_URL:-http://nexus.rbi-cms.svc.cluster.local:8081/repository/maven-public/}</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
